html,
body {
  padding: 0;
  margin: 0;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 100px;
}

li{
  font-size: 50px;
  list-style: none;
}