.homeContent{
  text-align: center;
}

.wanna{
  justify-content: center;
}


.pageTitle{
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 5rem;
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
  top: 50%;  
  border-right: 2px solid black;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  }  

  .animTypewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  
  @keyframes typewriter{
    from{width: 0;}
    to{width: 620px;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: black;}
    to{border-right-color: transparent;}
   }
 
.mainNav{
  display: flex;
  list-style: none;
  margin-top: 250px;
  padding-left: 350px;
  padding-right: 350px;
}

.paint{
  width: 100%;
  height: auto;
}

.container {
  padding: 0 2rem;
}

.hydrangea /*紫陽花の大きさ*/{
  width:20%;
  height:20%;
  text-align: center;
  margin-top: 300px;
}

div.informationPaint{
  margin: 100px;
  text-align: center;
}

.topPaint{
  width: 20%;
  height: auto;
  margin-top: 200px;
}
.basicInformaion{
  list-style: none;
}
